{{#contentFor 'pageStyles'}}
    <link href="{{ level }}assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ level }}assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{ level }}assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>


    <link href="{{level}}assets/pages/css/search.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{level}}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{level}}assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>

    <link href="{{level}}assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{level}}assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="{{level}}assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css"/>

    <link href="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet"
          type="text/css"/>


{{/contentFor}}

<div class="row">
    <div class="col-md-12">

        <div class="portlet light " id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase"> Agregar Afiliado -
                         <span class="step-title"> Paso 1 de 5 </span>
                       </span>
                </div>
            </div>

            <div class="portlet-body form">
                <form class="form-horizontal" action="#" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">

                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Información Personal </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Dirreción Y Contacto </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Identificación </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirmación </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Usted tiene algunos errores en el formulario.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Su validación de formulario es exitosa!
                                </div>

                                <div class="tab-pane" id="tab1">
                                    <h3 class="form-section" class="block">Proporcione los detalles del afiliado</h3>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Primer Apellido:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="papellido"/>
                                                    <span class="help-block">Proporcione su apellido </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Primer Nombre:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="fullname"/>
                                                    <span class="help-block"> Proporcione su nombre </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Segundo Apellido:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="sapellido"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Segundo Nombre:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="snombre"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Tipo de documento:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="tdocumento">
                                                        <option value=""></option>
                                                        <option value="">CC</option>
                                                        <option value="">CD</option>
                                                        <option value="">CE</option>
                                                        <option value="">CN</option>
                                                        <option value="">PA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">No Documento:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="phone"/>
                                                    <span class="help-block"> Proporcione su documento </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Género</label>
                                                <div class="col-md-9">
                                                    <div class="radio-list">
                                                        <label>
                                                            <input type="radio" name="gender" value="M"
                                                                   data-title="Masculino"/> Masculino </label>
                                                        <label>
                                                            <input type="radio" name="gender" value="F"
                                                                   data-title="Femenino"/> Femenino </label>
                                                    </div>
                                                    <div id="form_gender_error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Fecha Nacimiento:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input class="form-control form-control-inline input-medium date-picker"
                                                           placeholder="MM/DD/YYYY" maxlength="10" class="form-control"
                                                           name="card_expiry_date"/>
                                                    <span class="help-block"> e.j  9/05/1990 </span>
                                                </div>

                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Zona</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" data-placeholder="Choose a Category"
                                                            tabindex="1" name="zona">
                                                        <option value="Category 1"></option>
                                                        <option value="Category 2">Rural</option>
                                                        <option value="Category 3">Urbana</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Etnia</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" data-placeholder="Choose a Category"
                                                            tabindex="1" name="etnia">
                                                        <option value="Category 1"></option>
                                                        <option value="Category 2"> Indígena</option>
                                                        <option value="Category 3"> Rrom (Gitano)</option>
                                                        <option value="Category 4"> Raizal (San Andrés y Providencia)
                                                        </option>
                                                        <option value="Category 5"> Palenquero (San Basilio de
                                                            Palenque)
                                                        </option>
                                                        <option value="Category 6"> Negro(a), Afrocolombiano(a)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="form-section" class="block">Proporcione detalles de direccíon y
                                        contacto</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Dirección
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="address"/>

                                                </div>

                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Departamento
                                                    <span class="required"> * </span>

                                                </label>
                                                <div class="col-md-9">
                                                    <select name="city" class="form-control">
                                                        <span class="required"> * </span>
                                                        <option></option>
                                                        <option>Santander</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="control-label col-md-3">Detalle Dir</label>
                                                <div class="col-md-9">

                                                    <input type="text" class="form-control" name="detalledir"></div>
                                            </div>

                                        </div>
                                        <!--/span-->



                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Municipio
                                                    <span class="required"> * </span>

                                                </label>
                                                <div class="col-md-9">

                                                    <select name="country" class="form-control">
                                                        <option></option>
                                                        <option>Bucaramanga</option>
                                                        <option>Giron</option>
                                                        <option>Floridablanca</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Tel. Fijo:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="tfijo"></div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Tel. Movil:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="username"></div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Correo:
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="email"/>
                                                    <span class="help-block"> Indique Email/ E.j identico@prueba.com </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Observación:</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" rows="3" name="remarks"></textarea>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane active " id="tab3">
                                    <h3 class="block">Proporcione identificacion afiliado</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit ">

                                                <div class="portlet-body">
                                                    <form action="/dashboard/images/capture" method="post" role="form"
                                                          class="form-horizontal">
                                                        <input type="hidden" id="personid" name="personid" value="1">
                                                        <input id="finalimage" type="hidden" name="finalimage"
                                                               value=""/>
                                                        <div class="mt-element-card mt-element-overlay">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <img id="captureimage" name="captureimage"
                                                                         src="http://www.placehold.it/480x360/EFEFEF/AAAAAA&amp;text=No+disponible"
                                                                         alt=""/>
                                                                    <div id="camresult"></div>
                                                                </div>
                                                                <div class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div id="webcamera"
                                                                         style="width:480px; height:360px;"></div>
                                                                </div>
                                                                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <hr>
                                                                </div>
                                                                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <a href="javascript:void(TakePicture());"
                                                                       class="btn btn-info">
                                                                        <i class="fa fa-camera"></i> Capturar Fotografia</a>
                                                                    <a href="#" class="btn green"
                                                                       onclick="$(this).closest('form').submit()">
                                                                        <i class="fa fa-check"></i> Guardar</a>
                                                                    <a href="javascript:;"
                                                                       class="btn btn-outline grey-salsa">Cancelar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="block">Proporcione Huella</h3>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="portlet light portlet-fit ">

                                                <div class="portlet-body">
                                                    <div  class="row">
                                                        <table  align="center" border="1">
                                                            <tr><td>

                                                                <applet code="EnrollFingerprint.Enrollment.class" archive="{{level}}applets/fingerprint.jar,
                                                              {{level}}appletslib/dpotapi.jar,{{level}}applets/lib/dpotjni.jar,{{level}}applets/lib/dpfpenrollment.jar,
                                                              {{level}}applets/lib/dpfpverification.jar,{{level}}appletslib/json-simple-1.1.1.jar,{{level}}applets/lib/ojdbc7.jar,{{level}}applets/lib/okhttp-3.5.0.jar,
                                                              {{level}}applets/lib/okio-1.11.0.jar " width="650" height="350"></applet>

                                                            </td></tr></table>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>



                                <div class="tab-pane" id="tab4">
                                    <h3 class="block">Confirmación datos afiliado</h3>
                                    <h4 class="form-section">Detalle Afiliado</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nombre:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="fullname"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Primer Apellido :</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="papellido"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Segundo Nombre:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="snombre"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Segundo Apellido :</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="sapellido"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Tipo de documento:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="tdocumento"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">No Docuemento:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="phone"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Genero:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="gender"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Fecha de Nacimiento:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="card_expiry_date"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Zona:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="zona"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Etnia:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="etnia"></p></b>
                                        </div>
                                    </div>


                                    <h4 class="form-section">Dirección Y Contacto</h4>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">Direccion:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="address"></p></b>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Municipio:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="country"></p></b>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Detalle dirección:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="detalledir"></p></b>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Departamento</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="city"></p></b>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">Telefono Fijo:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="tfijo"></p></b>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">Telefono movil:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="username"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Coreo:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="email"></p></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Observación:</label>
                                        <div class="col-md-4">
                                            <b><p class="form-control-static" data-display="remarks"></p></b>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Identificación</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Foto:</label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <img id="captureimage" name="captureimage"
                                                 src="http://www.placehold.it/480x360/EFEFEF/AAAAAA&amp;text=No+disponible"
                                                 alt=""/>
                                            <div id="camresult"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Atras </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next"> Continuar
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit"> Enviar
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'pageScripts'}}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{level}}assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/jquery-validation/js/additional-methods.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>

    <script src="{{level}}assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js"
            type="text/javascript"></script>

    <script src="{{level}}assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>

    <script src="{{level}}assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>

    <script src="{{level}}assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
            type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>


    <script src="{{level}}js/webcam.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"
            type="text/javascript"></script>
    <script language="JavaScript">
        Webcam.attach('#webcamera');

        function urltoFile(url, filename, mimeType) {
            return (fetch(url)
                            .then(function (res) {
                                return res.arrayBuffer();
                            })
                            .then(function (buf) {
                                return new File([buf], filename, {type: mimeType});
                            })
            );
        }

        function TakePicture() {
            $("img[id=captureimage]").remove();
            Webcam.snap(function (data_uri) {
                document.getElementById('camresult').innerHTML = '<img src="' + data_uri + '"/>';

                var raw_image_data = data_uri.replace(/^data\:image\/jpeg\;base64\,/, '');
                document.getElementById('finalimage').value = raw_image_data;
            });
        }

        console.log(raw_image_data);


    </script>

{{/contentFor}}