{{#contentFor 'pageStyles'}}
    <link href="{{ level }}assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ level }}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{ level }}assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />

    <!-- END PAGE LEVEL STYLES -->
    <link href="{{ level }}assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ level }}assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
{{/contentFor}}

<div class="profile">
    <div class="tabbable tabbable-full-width">
        <ul class="nav nav ">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"> <h3 class="margin-bottom-5">Calderon Calderon Cristian Rene</h3> </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <img src="{{level}}assets/pages/media/profile/profile_user.jpg" class="img-responsive pic-bordered" alt="" />
                                <a href="/affiliates/images" class="profile-edit"> editar </a>
                            </li>
                            <!--end col-md-8-->
                            <div class="col-md-12">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-red sbold"> ACTIVO </div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="sale-info"> Edad
                                                    <i class="fa fa-img-up"></i>
                                                </span>
                                                <span class="sale-num"> 23 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Beneficiarios
                                                    <i class="fa fa-img-down"></i>
                                                </span>
                                                <span class="sale-num"> 6 </span>
                                            </li>
                                            <li>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <ul class="list-unstyled profile-nav">

                            <!--end col-md-8-->
                            <div class="col-md-12">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-red sbold"> HUELLA </div>
                                        <div class="tools">
                                            <div class="portlet-body util-btn-margin-bottom-5">
                                            <a href="javascript:;" data-original-title="rss" class="social-icon social-icon-color rss"> </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ul>
                    </div>
                    <!--Inicio seccion Afiliado-->
                    <div class="col-md-10">
                        <div class="row">

                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       </i>ASSALUD IPS - AFILIADO</i> </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="tabbable-custom nav-justified">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="active">
                                                <a href="#tab_1_1_1" data-toggle="tab"> Ver Información </a>
                                            </li>


                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1_1_1">
                                                <div class="portlet-body form">
                                                    <!-- BEGIN FORM-->
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-body">
                                                            <h2 class="margin-bottom-20">Cristian R Calderon C </h2>
                                                            <h3 class="form-section">Información Personal</h3>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Primer Apellido:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Calderon </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Primer Nombre:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Cristian </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Segundo Apellido:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Calderon </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Segundo Nombre:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Rene </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Tipo de documento:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> CC </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">No Documento:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> 1.095.804.898 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Genero:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> M </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Fecha Nacimiento:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> 09.05.1990 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Zona:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Na </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Etnia:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Na </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->


                                                            <h3 class="form-section">Dirección Y Contacto</h3>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Dirección:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Cra 27 # 49-45 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Municipio:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Bucaramanga </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Departamento:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Santander </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Post Code:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> 457890 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Pais:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Colombia </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Telefono Fijo:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> 6897848 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Telefono Celular:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> 3254895878 </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Correo:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> creca@gmail.com </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Observación:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> Na </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-offset-3 col-md-9">

                                                                            <a href="/affiliates/edit" class="btn green">
                                                                                <i class="fa fa-pencil"  ></i>  Editar</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6"> </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- END FORM-->
                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Inicio seccion referido-->
                        <div class="row">
                            <div class="portlet box red">
                                <div class="portlet-title">
                                    <div class="caption">
                                        </i>ASSALUD IPS - REFERIDOS</i> </div>

                                </div>
                                <div class="portlet-body">

                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4">
                                            <thead>
                                            <tr>
                                                <th class="all">Primer Apellido</th>
                                                <th class="min-phone-l">Segundo Apellido</th>
                                                <th class="min-tablet">Primer Nombre</th>
                                                <th class="none">Segundo Nombre</th>
                                                <th class="desktop">Identifcacion</th>
                                                <th class="none">Fecha Nacimiento: </th>
                                                <th class="desktop ">Estado </th>
                                                <th class="none">Edad </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>GONZALEZ</td>
                                                <td>TARAZONA</td>
                                                <td>EDUARDO</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>LEONEL</td>
                                                <td>TARAZONA</td>
                                                <td>LUIS</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>MATINEZ</td>
                                                <td>TARAZONA</td>
                                                <td>CAMILO</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>LOPEZ</td>
                                                <td>TARAZONA</td>
                                                <td>FABIAN</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>CAMALO</td>
                                                <td>TARAZONA</td>
                                                <td>LUCAS</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>SANCHEZ</td>
                                                <td>TARAZONA</td>
                                                <td>PIPE</td>
                                                <td>FELIPE </td>
                                                <td>123456789</td>
                                                <td>2011/08/25</td>
                                                <td>Activo</td>
                                                <td>28</td>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!--FIn seccion Venificiario-->
                        <!--end row-->
                    </div>
                    <!-- Fin seccion Afiliado-->
                    <!--end row-->
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'pageScripts'}}
    <script src="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{level}}assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="{{level}}assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>
{{/contentFor}}