{{#contentFor 'pageStyles'}}
    <link href="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="{{level}}assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
{{/contentFor}}

<!-- BEGIN : USER CARDS -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-camera font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Capturar imagen.</span>
                </div>
            </div>
            <div class="portlet-body">
                <form action="/affiliates/images/capture" method="post" role="form" class="form-horizontal">
                    <input type="hidden" id="personid" name="personid" value="{{affiliate}}">
                    <input id="finalimage" type="hidden" name="finalimage" value=""/>
                    <div class="mt-element-card mt-element-overlay">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img id="captureimage" name="captureimage" src="http://www.placehold.it/480x360/EFEFEF/AAAAAA&amp;text=No+disponible" alt="" />
                                <div id="camresult"></div>
                            </div>
                            <div class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="webcamera" style="width:480px; height:360px;"></div>
                            </div>
                            <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr></div>
                            <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="javascript:void(TakePicture());" class="btn btn-info">
                                    <i class="fa fa-camera"></i> Capturar Fotografia</a>
                                <a href="#" class="btn green" onclick="$(this).closest('form').submit()">
                                    <i class="fa fa-check"></i> Guardar</a>
                                <a href="javascript:;" class="btn btn-outline grey-salsa">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END : USER CARDS -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light form-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-camera font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Cargar imagen.</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="/affiliates/images/input" enctype="multipart/form-data" method="post" role="form" class="form-horizontal">
                    <input type="hidden" id="personid" name="personid" value="{{affiliate}}">
                    <div class="form-body">
                        <div class="form-group last">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 320px; height: 240px;">
                                        <img src="http://www.placehold.it/320x240/EFEFEF/AAAAAA&amp;text=No+disponible" alt="" /> </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 320px; max-height: 240px;"> </div>
                                    <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new"> Seleccionar imagen </span>
                                                                <span class="fileinput-exists"> Cambiar </span>
                                                                <input type="file" id="inputpicture" name="inputpicture"> </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Eliminar </a>
                                    </div>
                                </div>
                                <div class="clearfix margin-top-10">
                                    <span class="label label-danger">NOTA!</span> La vista previa de las imagenes solo funciona en IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="#" class="btn green" onclick="$(this).closest('form').submit()">
                                    <i class="fa fa-check"></i> Guardar</a>
                                <a href="javascript:;" class="btn btn-outline grey-salsa">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

{{#contentFor 'pageScripts'}}
    <script src="{{level}}js/webcam.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="{{level}}assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script language="JavaScript">
        Webcam.attach( '#webcamera' );

        function urltoFile(url, filename, mimeType){
            return (fetch(url)
                            .then(function(res){return res.arrayBuffer();})
                            .then(function(buf){return new File([buf], filename, {type:mimeType});})
            );
        }

        function TakePicture() {
            $("img[id=captureimage]").remove();
            Webcam.snap( function(data_uri) {
                document.getElementById('camresult').innerHTML = '<img src="'+data_uri+'"/>';

                var raw_image_data = data_uri.replace(/^data\:image\/jpeg\;base64\,/, '');
                document.getElementById('finalimage').value = raw_image_data;
            } );
        }

        var tempvalue = '{{flag}}';
        if( tempvalue === 'success' ) {
            swal({
                        title:"Imagen guardada EXITOSAMENTE",
                        type:"success",
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Volver al afiliado",
                        closeOnConfirm: true
                    },
                    function(isConfirm){
                        if (isConfirm) {
                            window.location.href = "/affiliates/" + {{affiliate}};
                        }
                    });
        }
    </script>
{{/contentFor}}